*{
    padding: 0;
    margin: 0;
}
.bcontainer{
    display: inline-flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
}
.scontainer{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    
}
.container{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    width: fit-content;
    padding: 2rem;
    border-radius: 10px;
    height: 100px;
}
img{
    width: 120px;
    height: 120px;
}
.str{
    text-decoration:line-through;
}
.insider{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}
form button{
    border: none;
    background-color: black;
    color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
}
input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible{
    outline: 1px solid #007bff;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  opacity: 0;
  z-index: 3;
}
.eye-icon {
  position: absolute;
  right: 10px;
  width: 22px;
  height: 22px;
  background: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 5c-7 0-11 7-11 7s4 7 11 7 11-7 11-7-4-7-11-7zm0 12c-2.761 0-5-2.239-5-5s2.239-5 5-5 5 2.239 5 5-2.239 5-5 5zm0-8c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"/></svg>') no-repeat center;
  background-size: contain;
  pointer-events: none;
}
.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}
.password-text {
  display: none;
}
.password-toggle:checked ~ .password {
  display: none;
}
.password-toggle:checked ~ .password-text {
  display: block;
}